a {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightcyan;
}

* {
    text-align: center;
}

li {
    text-align: left;
}

h1 {
    color: darkblue;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}